/* #f5f6f6 */
*{
    /* border: 4px solid orange; */
    font-family: Inter var,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
  Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.signUp-main{
    /* border: 3px solid red; */
    background-color: #e7e9e9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signUp-container{
    /* border: 3px solid black; */
    /* width: 100vw; */
    background-color: white;
    margin-top: 12px;
    width: 800px;
    height: 800px;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.signUp-form{
    /* border: 3px solid red; */
    padding: 12px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
}
.signUp-field{
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: left;
    margin: 23px;
}
.signUp-label{
    /* border: 2px solid black; */
    width: 100%;
    font-size: 1.5rem;
}
.signUp-input{
    /* border: 2px solid red; */
    width: 100%;
    margin:10px 0 12px 0;
    height: 45px;
    border-radius:0.25rem ;
    font-size: 16px;
    border-color: rgb(177, 173, 173);
    /* background-color: #e7e9e9; */
}
.signUp-btn{
    background-color: #293899;
    color: white;
    width: 90%;
    height: 45px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 14px;
}
.signUp-mob{
    border: 3px solid blue;
    display: flex;
}
.signUp-form >a{
    /* border: 3px solid red; */
    margin: 18px 0 0 6px;
    font-size: 1.1rem;
    text-decoration: none;
}
.signUp-error{
    /* border: 3px solid red; */
    color: red;
    text-align: left;
    width: 100%;
    font-size: 1rem;
}


/* 1.screen change, size and design change */
/* 2. 91 */
/* 3. render */
/* 4.font */


/* @media only screen and (max-width: 600px) {
    .sighUp-main {
      background-color: lightblue;
    }
  } */

